body {
	background: url(https://fondosmil.com/fondo/4083.jpg);
	width: 100%;
	height:100vh;
	background-size: cover;
	color:white;
    position: sticky;
}


th {
    background-color: #0d0d0e !important; 
    text-align: center;
    vertical-align: middle;
    border: none !important;
    vertical-align: middle !important;
}


td {
    background-color: #fff !important;
    text-align: center;
    vertical-align: middle !important;
}

.filtrar {
    font-size: 20px;   
}

.limpiar {
    color: #000;
    background-color: #2bff00;
    margin-left: 10px;
}

.buscar {
    color: #000;
    background-color: #2bff00;
    margin-left: 10px;
}

td img {
    width: 70px;
    height: 70px;
}