html {
    scroll-behavior: smooth;
}

body{
	display: flex;
    flex-direction: column;
	background-image: linear-gradient(to right, #7EB150, #2bff00);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	-webkit-font-smoothing: antialiased;
}

.navegador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--color-nav);
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    z-index: 1000;
    top: 0;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}

.navegador-items {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.navegador-items li {
    list-style: none;
    display: flex;
    align-items: center;
}

.navegador-items {
    padding: 0;
}

.navegador-items li a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14.5px;
    font-weight: 500;
    position: relative;
    transition: all 0.3s;
}

.navegador-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 800;
	background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, rgba(76, 245, 76, 0.8), rgba(1, 46, 32, 0.4));
}

.navegador-items li a{
    display: flex;
    height: 50px;
    align-items: center;
    transition: all 0.3s;
}

.navegador-items li a::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    bottom: 0px;
    left: 50%;
    position: absolute;
    background-color: var(--first-color);
}

.navegador-items li a:hover::before {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: var(--first-color);
    position: absolute;
    transition: all 0.3s;
}

.button-nav {
    display: none;
    color: var(--first-color);
}

@media (max-width:680px) {
    .button-nav {
        display: block;
    }

    .navegador-items {
        flex-direction: column;
        position: absolute;
        align-items: center;
        top: 50px;
        left: 100%;
        background-color: var(--color-nav);
        width: 100%;
        transition: all 0.3s;
    }

    .activar-nav {
        left: 0;
        transition: all 0.3s;
    }

}

.logo {
    display: flex;
	justify-content: center;
 	align-items: center; /* Alinea verticalmente el contenido */
  	height: 200px;
	width:300PX;
	height:80px; 
	padding: 0 10px; 
	line-height: 80px; 
}

.pesa {
    padding-right: 3px;
    font-size: 25px;
    color: #2bff00;
    animation: pesa-rotando 10s linear infinite;
}

@keyframes
pesa-rotando {
    0% {
        transform: rotate(0deg);
    }    

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.navegador-items .active a:before {
    content: "";
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    background-color: var(--first-color);
    position: absolute;
}

* {
	margin: 0;
	box-sizing: border-box;
}

/* <----"HEADER"----->*/
.body {
	font-family: sans-serif; /* fuente del header*/
	padding: 90px 20px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.container{
	align-items: center;
	font-family: sans-serif;
	width: 100%;
	display: flex;
	max-width: 1100px;
}

.captionn{
	color: rgb(255, 255, 255);
	margin: 20px;
	font-size: 40px;
	
}

.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background: #fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	cursor: default;
	transition: all 400ms ease;
}

.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}

.card img{
	width: 100%;
	height: 210px;
}

.card .contenido {
	padding: 15px;
	text-align: center;
}

.card .contenido p{
	line-height: 1.5;
	color: #6a6a6a;
}

.card .contenido a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
	color: #0080ff;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
}

.card .contenido h3{
	font-weight: 400;
	margin-bottom: 10px;
}

.card .contenido a:hover{
	background: #0080ff;
	color: #fff;
}

.nav-item{
	padding: 10px;
	text-align: center;
}

.nav-item a{
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	margin-top: 5px;
	color: #0080ff;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
}

.nav-item a:hover{
	background: #0080ff;
	color: #fff;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-6%);
}



.header {
	background-color: rgb(0, 0, 0); 
    font-family: sans-serif;
	height: 80px;
	position: fixed; 
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}

.nav {
	display: flex;
	justify-content: space-between;
	max-width: 992px;
	margin: 0 auto;
}

.nav-link {
	color: #585857;
	text-decoration: none; 
}


.nav-menu {
	display: flex; 
	margin-right: 40px;
	list-style: none;
	padding: 0 0 20px 0;
}

.nav-menu-item {
	font-size: 16px;
	margin: 0 10px;
	line-height: 80px;
	text-transform: uppercase; 
	width: max-content;
}

.nav-menu-link {
	padding: 8px 12px;
	border-radius: 3px; 
	transition: all 400ms ease;
}

.nav-menu-link:hover, 
.nav-menu-link_active{
	background-color: #7EB150; 
	transition: 0.5s;
	color: #fff;
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-6%);
}

.nav-toggle {
	color: rgb(151, 151, 151);
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	display: none;
}

@media ( max-width : 768px) {
	body {
		padding-top: 70px;
	}
	.header {
		height: 60px;
	}
	.logo {
		width:230px;
		padding: 0 20px;
		line-height: 60px;
		height:60px;
	}
	.nav-menu {
		flex-direction: column;
		align-items: center;
		margin-right: 0px;
		background-color: #ffffff;
		position: fixed;
		left: 0;
		top: 60px;
		width: 100%;
		padding: 20px 0;
		height: calc(100% - 60px);
		overflow-y: auto;
		left: 100%;
		transition: left 0.3s;
	}
	.nav-menu-item {
		line-height: 70px;
	}

	.nav-menu-link:hover,
	.nav-menu-link_active{
		background: none; 
		color: #83c5f7;
	}
	
	.nav-toggle{
		display: block;
	}
	
	.nav-menu_visible{
		left: 0;
	}
}


/* <----"FOOTER"----->*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
footer{
    width: 100%;
    padding: 30px 0px;
    background-color: white;
    background-size: cover;
    font-family: "Roboto", sans-serif;
	box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2);
}

.container__footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 1200px;
	margin: auto;
	margin-top: none;
}

.box__footer{
	display: flex;
	flex-direction: column;
	padding: 30px;
}

.box__footer .logo img{
	width: 180px;
}

.box__footer .terms{
	max-width: 350px;
	margin-top: 20px;
	font-weight: 500;
	color: #7a7a7a;
	font-size: 18px;
}

.box_footer h2{
	margin-bottom:30px;
	color: #080808;
	font-weight: 700;
}

.box__footer a{
	margin-top: 10px;
	color: #7a7a7a;
	font-weight: 700;
	font-size: 13px;
}

.box__footer a:hover{
	opacity: 0.8;
}

.box__footer a .fab{
	font-size: 20px;
}

.box__copyright{
	max-width: 1200px;
	margin: auto;
	text-align: center;
	padding: 0px 40px;
}

.box__copyright p{
	margin-top: 20px;
	color: #7a7a7a;
}

.box__copyright hr{
	border: none;
	height: 1px;
	background-color: #7a7a7a;
}