<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;800&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/inicio.css">
    <link rel="stylesheet" href="/css/styleAdmin.css">
    <link rel="stylesheet" href="/css/form_plan.css">
    <link rel="stylesheet" href="/css/snackbar.css">
    <title>UrbanGym | Editar Usuario</title>
</head>

<body>
    <nav class="navegador">
        <div class="logo">
            <small class="pesa"><i class="fa-solid fa-dumbbell"></i>
                <h3 class="navegador-title"></i>
            </small>URBANGYM</h3>
        </div>
        <ul class="navegador-items">
            <li><a th:href="@{/urbangym/}">Inicio</a></li>
            <li><a href="#">Instalaciones</a></li>
            <li><a href="#">Novedades</a></li>
            <li class="active"><a th:href="@{/urbangym/admin}">Admin</a></li>
            <!-- <li><a href="#" th:text="'Bienvenida ' + ${nombre_del_usuario}">Tu espacio</a></span></li> -->
            <li><a th:href="@{/urbangym/login/logout}">Cerrar Sesion</a></li>
        </ul>
        <div class="button-nav">
            <i class="boton-nav fa-solid fa-bars fa-2x"></i>
        </div>
    </nav>

    <div class="formulario">
        <div class="form-container">
            <h1 class="form-title">EDITAR USUARIO</h1>
            <form th:action="@{/urbangym/admin/user/editar/guardar}" th:object="${user}" method="post"
                enctype="multipart/form-data">
                <input type="hidden" th:field="*{id_user}">
                <div class="item-form">
                    <label for="dni-usuario" class="label">DNI</label>
                    <input id="dni-usuario" th:field="*{dni}" type="number" class="input-field">
                    <small class="alert-form" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></small>
                    <small class="alert-form" th:text="${aviso_dni}"></small>
                </div>

                <div class="item-form">
                    <label for="nombre-usuario" class="label">Nombre</label>
                    <input id="nombre-usuario" th:field="*{name}" name="name" class="input-field">
                    <small class="alert-form" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>

                <div class="item-form">
                    <label for="apellido-usuario" class="label">Apellidos</label>
                    <input id="apellido-usuario" th:field="*{lastName}" name="lastName" class="input-field">
                    <small class="alert-form" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
                </div>

                <div class="item-form">
                    <label for="cell-usuario" class="label">Celular</label>
                    <input id="cell-usuario" th:field="*{cellPhone}" type="number" name="cellPhone" class="input-field">
                    <small class="alert-form" th:if="${#fields.hasErrors('cellPhone')}"
                        th:errors="*{cellPhone}"></small>
                </div>

                <div class="item-form">
                    <label for="email-usuario" class="label">Email</label>
                    <input id="email-usuario" th:field="*{email}" type="email" name="email" class="input-field">
                    <input id="email-usuario" th:field="*{password}" type="hidden" name="password" class="input-field">
                    <small class="alert-form" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                    <small class="alert-form" th:text="${aviso_email}"></small>
                </div>

                <div>
                    <label class="label">Foto</label>
                    <input type="file" name="file" class="input-field">
                </div>

                <div class="form-button">
                    <input type="submit" value="Guardar" class="submit-button">
                </div>
            </form>
        </div>
    </div>
<div id="snackbar">Edición Exitosa</div>
<script>
    function mostrarSnackbar() {
        var snackbar = document.getElementById("snackbar");
        snackbar.className = "show";
        setTimeout(function () { snackbar.className = snackbar.className.replace("show", ""); }, 3000); // Ocultar el Snackbar después de 3 segundos
    }
    // Comprobar si hay un error en la URL
    if (window.location.href.indexOf("?success") > -1) {
        mostrarSnackbar();
    }
</script>
</body>

</html>